.header {
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 25;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 15px;

  @media (min-width: $width-desktop+px) {
    padding: 0 40px;
  }
}

.header--menu-open {
}

.header__container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.header__logo {
}
.header__nav {
}
.header-nav {
  text-align: right;
  @media (min-width: $width-tablet+px) {
    text-align: left;
  }
}
.header-nav__link {
  color: inherit;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
}
