.promo-slide {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../img/promo-bg-lines.png") no-repeat;
    background-size: cover;
  }
}
.promo-slide__text-block {
  font-weight: 300;
  font-style: normal;
  font-weight: 300;
  font-size: clamp(18px, 4vw, 32px);
  // font-size: 32px;
  line-height: 150%;
  max-width: 867px;
  position: relative;
  z-index: 20;
  padding-left: calc(30 / 940 * 100vw);
  @media (min-width: $width-desktop+px) {
    padding: 112px 0 0 111px;
  }
}
.text-twin-letters {
  display: inline-block;
  @media (min-width: $width-desktop+px) {
    letter-spacing: -15px;
    width: calc(38 / 1296 * 100vw);
    max-width: 38px;
  }
}

.text-highlighted {
  background-color: #cc2944;
  padding: 0 12px;
}
.text-title {
  font-size: 56px;
  font-size: clamp(24px, 4vw, 56px);
  line-height: 115%;
  font-weight: 400;
}

.promo-slide__img-block {
  width: 75%;
  margin: 0 auto;
  @media (min-width: $width-tablet+px) {
    width: 603px;
    position: absolute;
    top: 77px;
    right: 20px;
  }
}
