.proorb-slider {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.proorb-slider__list {
  flex: 1 1 auto;
}
.proorb-slider__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 20;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  @media (min-width: $width-tablet+px) {
    padding: 0 40px 38px;
  }
}

.proorb-slider__footer-bts {
  display: none;
  @media (min-width: $width-tablet+px) {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    padding-right: 6px;
  }
}

.proorb-slider__slide {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  height: 100%;
}

.proorb-slider__slide--promo {
}
.proorb-slider__slide--overview {
}
