.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.page__main {
  flex-grow: 1;
  min-height: calc(756px - var(--header-height));
}

.page__container {
  height: auto;
  background: #0d1e32;
  border: 1px solid #ffffff;
  border-radius: 24px;
  color: #ffffff;
  overflow: hidden;
  margin: 30px 20px;
  min-height: 756px;
  @media (min-width: $width-tablet+px) {
  }

  @media (min-width: $width-desktop+px) {
    margin: 72px auto;
    max-width: $max-width + px;
  }
}
